a {
  text-decoration: none;
}

[class^="mbri-"], [class*=" mbri-"] {
    vertical-align: sub;
    font-size: 24px;
}

[type=submit] {
    -webkit-appearance: inherit;
}

ul.w3-ul li {
    border-bottom: none;
}

.trumbowyg-box .trumbowyg-editor {
    margin: 0 auto;
    background-color: white;
}

#trumbowyg-icons {
    overflow: hidden;
    visibility: hidden;
    /*margin-top: 43px;*/
}

hr{
  border-top: 1px solid black;
}

.tile{
  height: 200px;
}

header{
  background: linear-gradient(to right, #004d71 , #004dff, #00adff);
}

h3{
  color:white;
}

h3,b{
  vertical-align: middle;
}

.w3-btn{
  margin-top: 10px;
}

.w3-save{
  color: #000!important;
  background-color: #5fff65!important;
  padding-top: 7px;
  padding-bottom: 7px;
}

ul.w3-ul li {
    padding: 0;
    /*border: 1px solid #a0a0a0;*/
    margin: 3px 0 3px 0;
}

ul.w3-ul li:last-child {
    /*border-bottom: 1px solid #a0a0a0;*/
}

.ui-sortable-helper{
  background-color: yellow;
}

/*#editor {
    position: absolute;
    top: 260px;
    right: 0;
    bottom: 0;
    left: 265px;
    height: 500px;
    width: 866px;
}*/

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.centerscreen{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 500px;
  max-height: 400px;
}
