a {
  text-decoration: none;
}

[class^="mbri-"], [class*=" mbri-"] {
    vertical-align: sub;
    font-size: 24px;
}

[type=submit] {
    -webkit-appearance: inherit;
}

ul.w3-ul li {
    border-bottom: none;
}

.trumbowyg-box .trumbowyg-editor {
    margin: 0 auto;
    background-color: white;
}

#trumbowyg-icons {
    overflow: hidden;
    visibility: hidden;
    margin-top: 43px;
}

hr{
  border-top: 1px solid black;
}

.tile{
  height: 200px;
}

header{
  background-color: #1888ca;
}

h3{
  color:white;
}

h3,b{
  vertical-align: middle;
}

.w3-btn{
  margin-top: 10px;
}

.w3-save{
  color: #000!important;
  background-color: #5fff65!important;
  padding-top: 7px;
  padding-bottom: 7px;
}
