{% extends "admin_layout.html" %}

{% block body %}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <div class="w3-row">
      <div class="w3-threequarter">
        <h5><b><i class="mbri-users"></i> Users</b></h5>
      </div>
        <div class="w3-quarter">
            <a href="{{ url_for('admin.admin_newuser') }}" type="submit" class="w3-btn w3-blue w3-hover-light-blue w3-right"> <span class="mbri-plus"></span> New User</a>
        </div>
    </div>
  </header>

  <div class="w3-container">
    <h5>All Users</h5>
    <ul class="w3-ul">
      {% for title in name %}
      <li>
        <div class="row">
        <a href="{{ url_for('admin.admin_userdetail', user_name=title|replace('.json', '') ) }}">
          <div class="w3-col w3-card-4 w3-padding w3-white w3-hover-blue" style="width:90%">
            <span class="w3-xlarge">{{title|replace(".json", "")}}</span>
            <span class="w3-xlarge">{{date}}</span><br>
          </div>
        </a>
        <a href="{{ url_for('admin.admin_users_delete', user_name=title|replace('.json', '') ) }}">
          <div class="w3-col w3-padding" style="width:10%">
            <i class="w3-xlarge w3-text-red w3-text-hover-orange mbri-trash"></i>
          </div>
        </a>
      </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <hr>

{% endblock %}
