{% extends "admin_layout.html" %}

{% block body %}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <div class="w3-row">
      <div class="w3-threequarter">
        <h5><b><i class="mbri-file"></i> Installed Themes</b></h5>
      </div>
      <div class="w3-quarter">
          <!--<a href="{{ url_for('admin.admin_newpage') }}" type="submit" class="w3-btn w3-blue w3-hover-light-blue w3-right"> <span class="mbri-plus"></span> New Page</a>-->
      </div>
    </div>
  </header>

  <div class="w3-container">
    <h5>All Themes</h5>
    <ul class="w3-ul">
      {% for title in name %}
      <li>
        <a href="{{ url_for('admin.admin_pagedetail', page_name=title|replace('.json', '') ) }}">
          <div class="w3-col w3-card-4 w3-padding w3-white w3-hover-blue">
            <span class="w3-xlarge">{{title|replace(".json", "")}}</span>
            <span class="w3-xlarge">{{date}}</span><br>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
